.card{
  z-index: 1000;
}

.successmsg h3 {
  font-size: 22px;
  font-weight: 800;
}

.successmsg p {
  font-size: 16px;
  font-weight: 500;
  color: #3d3d3d;
  padding: 10px 0px;
}

.successmsg button {
  width: 100% !important;
}

.successimg img {
  width: 360px;
  height: 240px;
  object-fit: cover;
  margin-right: 15px;
}

.closeButton {
  border: none;
  font-size: 20px;
  color: white;
  background-color: #00a0e3;
  padding: 4.5px 12px;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.closeButton:hover {
  background-color: #008ac0; 
}

.closeButton:focus {
  outline: none;
}

@media (width < 1200px) {
  .authbanner img {
    height: 1300px !important;
  }
}

@media (width < 992px) {

}

@media (width < 576px) {
  .successimg img {
    height: 100%;
  }

  .successmsg h3 {
    font-size: 16px;
  }

  .successmsg p {
    font-size: 13px;
  }
}