.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 90px;
  padding: 0 15px;
}

.workshopContainer {
  margin: 30px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}


@media (max-width: 1400px){
  .workshopContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1200px){
  .workshopContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 992px){
  .workshopContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px){
  .workshopContainer {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 576px) {
  .workshopContainer {
    grid-template-columns: 1fr;
  }
}