.inputgrp {
  margin-top: 24px;
}

.formTopic {
  /* background-color: #002f42; */
  padding: 5px 0px;
  text-align: start;
  color: #002f42;
  border-radius: 10px;
}
.formTopic h4 {
  font-size: 24.6px;
  font-weight: bold;
  margin-bottom: 0;
}

.formTopic p {
  margin-bottom: 0.5rem;
}
.inputgrp input,
.inputgrp input:active,
.inputgrp input:focus {
  border: 2px solid #b5b6b8;
  padding: 10px;
  box-shadow: none !important;
}

.inputgrp button {
  width: 100%;
}
.inputgrp small {
  font-size: 12.5px;
}

@media (width < 1200px) {
  .formTopic h4 {
    font-size: 20px;
  }

  .formTopic p {
    font-size: 14px;
  }
}
