

.inputgrp {
    margin-top: 25px;
}

.formTopic {
    background-color: #002f42;
    padding: 15px;
    text-align: center;
    color: #fff;
    border-radius: 10px;
}
.formContainer form{
    height: 400px;
    overflow-y: scroll;
}
.inputgrp input,
.inputgrp input:active,
.inputgrp input:focus {
    border: 2px solid #b5b6b8;
    padding: 10px;
    box-shadow: none !important;
}

.inputgrp button {
    width: 100%;
}


@media (width < 1200px) {

    .formTopic h4{
        font-size: 20px;
    }

    .formTopic p{
        font-size: 14px;
    }
 
}