@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("/fonts/PlusJakartaSans[wght].ttf");
}

@font-face {
  font-family: "Anton";
  src: url("/fonts/anton.ttf");
}

.container {
  background-color: #d2effb;
  color: #000;
  padding: 80px 0;
}

.aboutCards {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 100%;
}

.cardContent {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  gap: 10px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 160, 227, 0.3);
  padding: 15px;
  width: 210px;
  text-align: start;
  min-height: 280px;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  background: linear-gradient(to bottom,
      rgba(0, 0, 0, 0.1) 0%,
      rgba(0, 0, 0, 0.4) 50%,
      rgba(0, 0, 0, 0.7) 70%,
      rgba(0, 0, 0, 0.9) 100%);
  border-radius: 10px;
  z-index: 1;
}

.cardImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  border-radius: 10px;
}

.cardTag {
  width: fit-content;
  margin-bottom: 0 !important;
  min-width: 65px;
  padding: 8px 16px;
  text-align: center;
  border-radius: 50px;
  font-weight: bold;
  background-color: #00a0e3;
  color: white;
}

.description {
  margin-top: 5px;
  font-weight: bold;
  font-size: 16px;
  color: white;
  z-index: 2;
  margin-bottom: 0;
}

.contentContainer {
  font-size: 20px;
  width: 100%;
  text-align: start;
  font-weight: 500;
  margin-top: 50px;
}

.contentContainer strong {
  color: #00a0e3 !important;
}

.contentContainer p {
  margin-bottom: 30px;
  line-height: 33px;
}

.eventinfo h3,
.eventinfo2 h3 {
  font-weight: 800;
  font-size: 38px;
}

.eventinfo p,
.eventinfo2 p {
  font-size: 16px;
  font-weight: 500;
}

.eventcard,
.eventcard2 {
  background-color: #fff;
  border-radius: 20px;
  border-left: 5px solid #00a0e3;
  padding: 15px 30px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  transition: all 0.5s ease-in-out;
}

.eventcard2 {
  border-left: 5px solid #000;
  color: #00a0e3;
}

.eventcard {
  color: #000;
}

.eventcard:hover,
.eventcard2:hover {
  background-color: #00a0e3;
  color: #fff;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

  border-left: 5px solid #00a0e3;
}

.eventcard2 svg {
  color: #b0dff4;
  width: 50px;
  height: 50px;
}

.eventcard svg {
  color: #c2c0c0;
  width: 50px;
  height: 50px;
}

.eventcard2:hover svg,
.eventcard:hover svg {
  color: #b0dff4;
}

.cardsection {
  background: linear-gradient(120deg, #ffff, #86c9e8);
  padding: 40px 50px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.aboutContent h2 {
  text-align: start !important;
  min-width: 100% !important;
}

@media (width < 1400px) {
  .contentContainer p {
    font-size: 18px;
  }
}

@media (width < 1200px) {
  .cardsection {
    padding: 40px 30px;
  }

  .eventinfo h3,
  .eventinfo2 h3 {
    font-weight: 800;
    font-size: 35px;
  }

  .eventinfo p,
  .eventinfo2 p {
    font-size: 14px;
    font-weight: 500;
  }

  .contentContainer p {
    line-height: 30px;
  }
}

@media (width < 992px) {
  .aboutContent h2 {
    text-align: center !important;
  }

  .cardContent {
    width: 200px;
  }
}

@media (width < 768px) {
  .contentContainer {
    text-align: start;
  }

  .cardsection {
    padding: 25px;
  }

  .eventinfo h3,
  .eventinfo2 h3 {
    font-weight: 800;
    font-size: 30px;
  }

  .container {
    padding: 50px 0px;
  }

  .eventcard2 svg,
  .eventcard svg {
    width: 35px;
    height: 35px;
  }
}

@media (width < 576px) {
  .cardContent {
    width: 220px;
  }

  .description {
    font-size: 15px;
  }
}