.ConferenceDetailSection {
  padding-top: 80px;
}

.overviewSection {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  margin-top: 50px;
}

.overviewDescription {
  padding: 30px;
}

.overviewTitle {
  background-color: #00a0e3;
  padding: 30px;
  color: #fff;
  border-radius: 20px 20px 0px 0px;
}

.rocketimg {
  padding: 15px;
  background-color: #33b2e7;
  border-radius: 15px;
  width: 70px;
  height: 70px;
}

.titleInfo h4 {
  font-weight: 900;
  font-size: 35px;
  margin: 0px;
}

.titleInfo p {
  font-size: 20px;
  font-weight: 500;
  margin: 0px;
  color: #ffffffe3;
}

.overviewSubtitle h6 {
  font-size: 25px;
  margin-top: 15px;
  font-weight: 700;
  font-style: italic;
}

.overviewSection {
  border-radius: 20px;
}

.descinfo p {
  font-size: 18px;
}

.descinfo h6 {
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  background-color: #002f42;
  color: #fff;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.pointCard {
  background: linear-gradient(
    150deg,
    rgba(0, 159, 227, 0.31),
    rgb(0 47 66 / 20%)
  );
  border-radius: 15px;
  padding: 30px;
  height: 130px;
  border: 2px solid #00a0e3;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.pointCard:hover {
  transform: scale(1.03);
  transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.iconCard {
  width: 70px;
  height: 70px;
  background: linear-gradient(210deg, #03c0ff, #002f42);
  color: #fff;
  padding: 20px;
  border-radius: 20px;
}

.iconinfo h6 {
  font-weight: 800;
  font-size: 18px;
}

.iconinfo p {
  font-size: 15px;
  font-weight: 500;
  margin: 0px;
}

.overviewBtn button {
     padding: 22px 34px !important;
  border-radius: 100px;
}

@media (width < 992px) {
  .overviewBtn button {
    padding: 22px 35px !important;
    font-size: 18px;
  }

  .ConferenceDetailSection {
    padding-top: 80px;
    padding-bottom: 0px;
  }

  .overviewSubtitle h6 {
    font-size: 20px;
  }

  .titleInfo h4 {
    font-size: 30px;
  }

  .titleInfo p {
    font-size: 18px;
  }
}

@media (width < 769px) {
  .overviewSubtitle h6 {
    font-size: 16px;
  }

  .titleInfo h4 {
    font-size: 22px;
  }

  .titleInfo p,
  .iconinfo h6 {
    font-size: 15px;
  }

  .descinfo p {
    font-size: 16px;
  }
}

@media (width < 576px) {
  .pointCard {
    height: 100%;
  }
  .overviewBtn button {
    padding: 20px 32px !important;
    font-size: 16px;
  }
  .descinfo h6 {
    line-height: 32px;
    font-size: 13px;
  }
}

@media (width < 450px) {
  .overviewBtn {
    flex-direction: column !important;
    align-items: center !important;
  }
  .overviewBtn button {
    width: 250px;
    padding: 21.5px 32px !important;
    font-size: 14.5px;
  }
}
