.bg {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.25);
  /* backdrop-filter: blur(15px); */
  z-index: 1000;
  background: rgba(0, 0, 0, 0.75);
  /* darker overlay for video */
  backdrop-filter: blur(5px);
}

.wrapper {
  height: fit-content;
  width: 500px;
  display: inline-block;
  padding: 40px 40px;
  border-radius: 15px;
  background: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: #fff;
  transform: translate(-50%, -50%);
}

.videoWrapper {
  width: 800px;
  /* more space for video */
  max-width: 95%;
  background: #000;
  /* black background for video */
  border-radius: 12px;
  padding: 10px;
}

.wrapper > span {
  float: right;
  margin-top: -30px;
  margin-right: -30px;
  font-size: 30px;
  cursor: pointer;
}

.closeButton {
  border: none;
  font-size: 20px;
  color: white;
  background-color: #00a0e3;
  padding: 4.5px 12px;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: absolute;
  top: 20px;
  right: 20px;
}

.closeButton:hover {
  background-color: #008ac0;
}

.closeButton:focus {
  outline: none;
}

@media (max-width: 500px) {
  .wrapper {
    border-radius: 16px;
  }
}

@media (width < 576px) {
  .wrapper {
    width: 380px;
  }

  .videoWrapper {
    width: 100%;
    height: auto;
  }
}
