.gallerySection {
    padding: 50px 0px;
}

.sliderImg img {
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
}


@media (width < 992px) {

    .sliderImg img {
        height: 250px;
    }

}

@media (width < 768px) {
    .sliderImg img {
        height: 150px;
    }

    .gallerySection {
        padding: 30px 0px;
    }

}